@import './components/shared';

*{
    box-sizing: border-box;
}

.main-content{
    @include for-size(phone-only){
        height: 100%;
        padding-top: 100px;
    }

    @include for-size(tablet-portrait-up){
        height: 100%;
        padding-top: 120px;
    }

    @include for-size(tablet-landscape-up){
        padding-top: 50px;
    }
}