@import './shared';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100vw;
    background-color: $color1;
    position: fixed;
}

#navbar div{
    float: left;
}

#menu-holder{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    align-content: center;
    justify-content: space-evenly;
}

#nav-profile-pic{
    border-radius: 50%;
    border: 1px white solid;
}

.nav-links{
    list-style: none;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.nav-links a{
    color: white;
}

.searchbar{
    height: fit-content;
    &:focus{
        outline: none;
    }
    align-self: center;
    border-radius: 10px;
    border-style: none;
    text-indent: 2.5%;
}

.username-span{
    display: none;
}

@include for-size(phone-only){
    #navbar{
        height: 100px;
    }

    #image-holder{
        width: 20vw;
        height: 75%;
        margin-left: 4.16vw;
    }

    #nav-profile-pic{
        height: 75px;
        width: 75px;
        
        
        
        margin-top: 3.6vw;
        
    }

    #menu-holder{
        width: 73.24vw;
        height: 100%;
        
    }

    .nav-links a{
        font-size: 1.2em;
    }

    .searchbar {
        width: 190px;
        flex-direction: row;
        align-items: center;
    }

    


}




@include for-size(tablet-portrait-up){
    #navbar{
        height: 120px;
    }

    .nav-links a{
        font-size: 1.5em;
    }

    .searchbar{

        font-size: 1.2em;
    }

    #image-holder{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-profile-pic{
        height: 80px;
        width: 80px;
        

    }

    #menu-holder{
        width: 75%;
        height: 100%;
    }
}


@include for-size(tablet-landscape-up){
    #navbar{
        height: 50px;
        padding: 0 10%;
    }
    #image-holder{
        height: 100%;
        width: 50%;
        justify-content: flex-start;
    }

    #nav-profile-pic{
        height: 40px;
        width: 40px;
    }
    #menu-holder{
        width: 50%;
        flex-direction: row;
        align-items: center;
        
    }

    .nav-links{
        width: 50%;
    }

    .searchbar{
        width: 40%;
        justify-self: baseline;
    }

    .username-span{
        display: inline-block;
        padding-left: 10px;
        color: white;
    }
}